* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/redoak.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    font-weight: 900;
    font-size: 16px;
    color: black;
}

.container {
    margin-left: 10px;
}

.row {
    border: solid 1px black;
    margin-bottom: 5px;
}

.col-md-1 {
    margin-right: 5px;
}

#genNumber {
    float: left;
    height: 100px;
    width: 205px;
    border: solid 4px black;
}

#four {
    clear: both;
}

img.gem {
    float: left;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-right: 5px;
}

/*.lightsaber{
    position: absolute;
    border: solid 3px white;
    background-color: white;
    height: 150px;
    width: 10px;
    top: 100px;
    left: 218px;
    border-top-left-radius: 9px; 
    border-top-right-radius: 9px;
    transform: rotate(-35deg);
    
}*/

.obiwan{
    width: 500px;
    height: 500px;
}
.reds{  
  -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 10s; 
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear; 
 
}
   
@-webkit-keyframes rotate {
    from {-webkit-transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(360deg);}
    
}

#five {
    clear: both;
}

.totscore {
    float: left;
    height: 100px;
    width: 205px;
    border: solid 4px black;
    margin-right: 5px;
}

.scorebox {
    float: left;
    height: 100px;
    width: 150px;
    border: solid 4px black;
}

.sparkle{
    width: 100px;
    height: 100px;
}

#sparkle1{
    position: absolute;
    z-index: 2;
    top: 320px;
    left: 250px;
    opacity: 0.9;
}

#sparkle2{
    position: absolute;
    z-index: 2;
    top: 335px;
    left: 220px;
    opacity: 0.9;
}

#sparkle3{
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 250px;
    opacity: 0.9;
}

#sparkle4{
    position: absolute;
    z-index: 2;
    top: 315px;
    left: 215px;
    opacity: 0.9;
}





