* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/mainspace.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    font-weight: 900;
    font-size: 16px;
    color: white;
    width: 100%;
}

p{
    margin-bottom: 0px;
}

#entrancemaul{
    position: relative;
    height: 300px;
    width: 500px;
}

#arena{
    display: none;
    overflow: hidden;
    background-image: url(../images/setting.png);
    background-size: cover;
    border: solid 5px white;
    position: absolute; 
    top: 20px; 
    left: 175px; 
    width: 1000px; 
    height: 600px;
}

#chosen{
    display: inline-block;
    margin-left: 25px;
    position: relative;
}
#selected{
    position: absolute;
    border: solid 5px white;
    height: 300px;
    width: 300px;
    top: 200px;
    left: 500px;
}

.enemy{
    float: left;
    margin-left: 25px;
    border: solid 8px red;
}

.clicked{
    position: absolute;
    border: solid 8px red;
    height: 300px;
    width: 300px;
    top: 200px;
    left: 500px;
   

}

pre{
    background: none;
    color: yellow;
    padding: 0px;
    font-size: 12px;
    margin-bottom: 0px;
    height: 15px;
    overflow: hidden;
    border: none;
}
#instructions{
    height: 150px;
}

#playerbox{
    margin-left: 130px;
    float: left;
}
.player{
    height: 200px;
    width: 200px;
    background-image: cover;
    cursor: pointer;
    opacity: 0.8;
    padding: 5px;
}

.playerselect{
    height: 275px;
    width: 275px;
    background-image: cover;
    cursor: pointer;
    opacity: 0.8;
    padding: 5px;
    border: solid 5px green;
}

.playerdiv{
    overflow: hidden;
    padding: 5px;
    border: solid 1px white;
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    }

.playerdivonhover{
    overflow: hidden;
    padding: 5px;
    border: solid 5px yellow;
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    }

#selectedplayer{
    clear: both;
    position: absolute;
   height: 325px;
   width: 400px;
   top: 215px;
   left: 500px;
   
   font-size: 24px;
   text-align: center;
    }


.lightsaber{
    position: absolute;
    z-index: 100;
    border: solid 1px white;
    background-color: white;
    height: 25px;
    width: 12px;
    top: 110px;
    left: 75px;
    border-bottom-left-radius: 9px; 
    border-bottom-right-radius: 9px;
    
    
    
}

.obiwan{
    width: 400px;
    height: 400px;
}

.right{
    position: relative;
   height: 200px;
   width: 200px;
   background-color: red;
}



#go{
    clear:both;
}